$white: #ffffff;
$black: #000000;

$blue-primary: #003366;
$yellow-primary: #FCBA19;

$grey-text: #494949;
$blue-active: #1A5A96;

$blue-bg: #38598A;
$grey-light-bg: #F2F2F2;

$grey-component: #606060;

$red-warning: #D8292F;
$green-success: #2E8540;
$yellow-notification: #e3a82b;

/* Custom colours */
$blue-light: #edf5fa;
$grey-light: #dae0e5;
$blue-link: #007bff;
$blue-link-hover: #0056b3;

/* Form fields' min-width*/
$field-width: 300px;
