/*
* AdminAccounts area styles
*/

// Import partial stylesheets
@import 'variables';
@import 'breakpoints';
@import 'datatables';

#page-admin-accounts {

  @include breakpoint(mobile) {
    .table-admin-accounts-search {
      td:nth-of-type(1):before {
        content: "Status";
      }
      td:nth-of-type(2):before {
        content: "Display Name";
      }
      td:nth-of-type(3):before {
        content: "IDIR";
      }
      td:nth-of-type(4):before {
        content: "Account Type";
      }
      td:nth-of-type(5):before {
        content: "Last Login";
      }
    }
  }
}

#page-edit-admin-user {
  .timestamp-last-updated {
    margin-top: 0;
  }

  // Lookup button
  .sam-account-name-input-group {
      width: 300px;
      max-width: 300px;

      input.form-control.uniform-width {
          width: 255px;
          min-width: 255px;
      }

      button {
          z-index: 0;
          width: 45px;
      }
  }

  #Guid {
      font-size: 0.88em;
      padding-right: 0;
      height: 38px;
  }
}
