@import '../../../shared-css/_variables';

$blue-primary: #003366;
$yellow-primary: #FCBA19;

$grey-text: #494949;
$blue-active: #1A5A96;

$blue-bg: #38598A;
$grey-light-bg: #F2F2F2;

$grey-component: #606060;

$red-warning: #D8292F;
$green-success: #2E8540;
$yellow-notification: #e3a82b;
