@using WorkBC.Admin.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NavArea = NavArea.REPORTS;
}

@if (!(ViewBag.HideBreadcrumb ?? false))
{
    <a asp-area="Reports" asp-controller="Home" asp-action="Index" class="btn btn-inline back-link">
        <i class="fa fa-chevron-left fa-left"></i>Back to reporting
    </a>
}

<img src="/img/workbc-logo-only.png" class="d-none d-print-inline-block print-logo">

@RenderBody()

@if (ViewBag.HasResults ?? false)
{
    <div class="row row-back-to-top">
        <div id="back-to-top">
            <i class="fa fa-chevron-up fa-left"></i>
            Back to top
        </div>
    </div>
}

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
    <script src="~/dist/lib/moment.min.js" asp-append-version="true"></script>
    <script src="~/dist/lib/daterangepicker.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/dist/lib/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/dist/lib/jszip.js" asp-append-version="true"></script>
        <script src="~/dist/lib/dataTables.buttons.js" asp-append-version="true"></script>
        <script src="~/dist/lib/dataTables-buttons.html5.js" asp-append-version="true"></script>
        <script src="~/dist/lib/bootstrap-datepicker.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/lib/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="~/dist/lib/jszip.min.js" asp-append-version="true"></script>
        <script src="~/dist/lib/dataTables.buttons.min.js" asp-append-version="true"></script>
        <script src="~/dist/lib/dataTables-buttons.html5.min.js" asp-append-version="true"></script>
        <script src="~/dist/lib/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/reports.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/dist/css/daterangepicker.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/bootstrap-datepicker3.css" asp-append-version="true" />
    <environment include="Development">
        <link rel="stylesheet" href="~/dist/css/dataTables.bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/css/buttons.dataTables.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/css/dataTables.bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/css/buttons.dataTables.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/dist/css/reports.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
}