::ng-deep app-password-reset {

  .password-reset {
    background-color: #ffffff;

    & > .container {
      padding-bottom: 40px;
    }


    &__div {
      margin: 0 auto;
    }
  }

  .form-group--inline {
    margin-bottom: 1rem;

    @media(min-width: 940px) {
      display: flex;
      align-items: center;
    }
  }

  .reset-success {
    a {
      text-decoration: underline;
    }
  }

  label {
    font-weight: 700;
    color: #234075;
    width: 220px;
    min-width: 220px;
  }

  .account-login-btn {
    width: 180px !important;
    text-align: left;
  }

  .sub-header {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .empty-left-220 {
    @media(min-width: 940px) {
      margin-left: 220px;
    }
  }

  .btn.reset-btn {
    width: 180px;
    text-align: left;
    color: #234075;
  }
}

.password-reset__label {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 40px;
}

.pw-reset-form {
  padding: 12px 10px 0 0;
  margin: 0;

  @media(min-width: 940px) {
    width: 75%;
  }

  @media(min-width: 600px) {
    #loginEmail, #loginPassword {
      width: 60%;
    }
  }
}

