<div class="header-banner">
  <div class="header-banner__container container">
    <div class="header-banner__title">
      <h1>Reset Password</h1>
    </div>
  </div>
</div>

<div class="header-banner--mobile">
  <div class="container">
    <div class="header-banner__title">
      <h1>Reset Password</h1>
    </div>
  </div>
</div>

<div class="password-reset">
  <div class="container">

    <div class="password-reset__div invalid-token mt-5" *ngIf="badToken" [innerHTML]="invalidTokenMessage">
    </div>

    <div class="password-reset__div" *ngIf="emailSent && !isVerified && !badToken && !succeeded">
      <div class="password-reset__label">{{ confirmationTitle }}</div>
      <div [innerHTML]="confirmationBody"></div>
    </div>

    <div class="password-reset__div" *ngIf="isVerified && !succeeded">
      <div class="password-reset__label">Please choose your new password.</div>
      <div class="pw-reset-form">
        <form #form="ngForm">
          <div class="form-group form-group--inline">
            <label for="newPassword">New password:</label>
            <input type="password" class="form-control" id="newPassword" required minlength="6" [pattern]="passwordPattern"
                   [(ngModel)]="newPassword" name="newPassword" #newPasswordModel="ngModel"
                   (ngModelChange)="passwordChange()" [ngClass]="{'input-danger': !(newPasswordModel.valid || !resetPwdClicked)}"/>

          </div>
          <div aria-live="polite">
            <div [hidden]="newPasswordModel.valid || !resetPwdClicked" class="text-danger">
              <div class="empty-left-220" *ngIf="!newPassword">
                Please provide the new password.
              </div>
              <div class="empty-left-220" *ngIf="newPassword">
                Please enter a valid password.
              </div>
            </div>
          </div>
          <div class="my-3 empty-left-220">
            <i>{{passwordComplexity}}</i>
          </div>
          <div class="form-group form-group--inline">
            <label for="confirmedPassword">Confirm password:</label>
            <input type="password" class="form-control" id="confirmedPassword" required minlength="6" [pattern]="passwordPattern"
                   [(ngModel)]="confirmedPassword" name="confirmedPassword" #confirmedPasswordModel="ngModel"
                   (ngModelChange)="passwordChange()" [ngClass]="{'input-danger': !(confirmedPasswordModel.valid || !resetPwdClicked) && (!confirmedPassword || confirmPasswordError)}" />
          </div>
          <div aria-live="polite">
            <div [hidden]="confirmedPasswordModel.valid || !resetPwdClicked" class="text-danger">
              <div class="empty-left-220" *ngIf="!confirmedPassword">
                Please confirm your password by typing it again.
              </div>
            </div>
          </div>
          <div aria-live="polite">
            <div class="empty-left-220 text-danger" *ngIf="confirmPasswordError">
              Password confirmation does not match.
            </div>
          </div>
          <div class="mb-2 mt-4">
            <button type="button" class="btn bg-blue reset-btn" (click)="resetPassword()">
              Reset password
              <lib-svg-icon icon="chev-white" width="25px" height="25px" class="pull-right"></lib-svg-icon>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="succeeded" class="reset-success">
      <div class="password-reset__label">You've successfully changed your password.</div>

      <p class="mb-5">
        You can <a href="#/login" class="link--underline">log in</a> now or wait to be redirected.
      </p>
    </div>
  </div>
</div>
