<div class="header-banner">
  <div class="header-banner__container container">
    <div class="header-banner__title">
      <h1>Register a new WorkBC account</h1>
    </div>
  </div> 
</div>

<div class="header-banner--mobile">
  <div class="container">
    <div class="header-banner__title">
      <h1>Register a new WorkBC account</h1>
    </div>
  </div>
</div>

<div class="account-select">
  <div class="container">
    <div class="select-title">
      <p class="sub-header">Which account is right for you?</p>
    </div>
    <div class="account-options row col-set mb-5">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h2>Job Seeker Account</h2>
          </div>
          <div class="card-body">
            <p class="card-body__text">
              Personalize your search for jobs or apprenticeships
              <a href="#/personal-settings">
                <lib-svg-icon icon="chev-blue" width="25px" height="25px" class="pull-right"></lib-svg-icon>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h2>Employer Account</h2>
          </div>
          <div class="card-body">
            <p class="card-body__text">
              Easily manage your talent search
              <a href="#">
                <lib-svg-icon icon="chev-blue" width="25px" height="25px" class="pull-right"></lib-svg-icon>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="register-options">
      <p class="sub-header">Register with WorkBC</p>
      <div class="row">
        <div class="register-options__col col-lg-6">
          <p>Are you a job seeker or apprentice? Find out how the workBC Job Board can help and why you should register.</p>
          <a href="#" class="btn-inline">
            Discover the WorkBC Job Board Advantage
            <lib-svg-icon icon="chev-white" width="20px" height="20px" class="icon--chevron"></lib-svg-icon>
          </a>
        </div>
        <div class="register-options__col col-lg-6">
          <p>Are you an employer? Discover how registering on B.C.'s most comprehensive job board can help you find talent.</p>
          <a href="#" class="btn-inline">
            Learn about the WorkBC Job Board benefits
            <lib-svg-icon icon="chev-white" width="20px" height="20px" class="icon--chevron"></lib-svg-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
