<div class="thank-you">
  <div class="container">
    <h2 class="sub-header" #thankYouHeading tabindex="-1">
      {{confirmationTitle}}
    </h2>
    <div [innerHTML]="confirmationBody">
    </div>
  </div>

  <div class="form-group">
    <div class="container">
      <a class="btn resend-register-link-btn bg-blue" tabindex="0" role="button" (click)="resendEmail()" (keydown.enter)="resendEmail()" (keydown.space)="resendEmail()">
        Resend activation email
        <lib-svg-icon icon="chev-white" width="25px" height="25px" class="pull-right"></lib-svg-icon>
      </a>
    </div>
  </div>
</div>
