<div class="modal-header">
  <h2 mat-dialog-title>Reset Password</h2>
  <button type="button" class="btn btn-close" mat-button mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <mat-dialog-content>
    <p>
      {{forgotPasswordIntroText}}
    </p>

  <form #form="ngForm">
    <div class="form-group form-group--inline">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" required
             [(ngModel)]="email" name="email" [pattern]="validEmailPattern" #emailModel="ngModel"
             (ngModelChange)="emailChange()"
             [ngClass]="{'input-danger': submitted && (error || !emailModel.valid)}" /> 
    </div>

  <div aria-live="polite">
    <div *ngIf="submitted && (error || !emailModel.valid)">
    <div class="text-danger" [hidden]="emailModel.valid">
      {{messageForInvalidEmail}}
    </div>
    <div class="text-danger" *ngIf="error" [innerHTML]="forgotPasswordEmailNotFound">
    </div>
    </div>
  </div>
  </form>

  </mat-dialog-content>
</div>
<div class="modal-footer">
  <mat-dialog-actions>
    <div class="form-group">
      <button type="button" class="btn btn-reset" (click)="reset()">
        Reset
      </button>
      <button type="button" class="btn cancel inline-text-button" mat-dialog-close>
        Cancel
      </button>
    </div>
  </mat-dialog-actions>
</div>
