@model JobSeekerAccountViewModel

<div id="JobSourcePartial">
    <div class="form-check">
        <div class="form-group">
            <select class="form-control uniform-width" asp-for="ReportType">
                <option value="ALL">All</option>
                <option value="STATUS">Accounts Status</option>
                <option value="GROUPS">Job Seeker Employment Groups</option>
                <option value="ACTIVITY">Account Activity</option>
            </select>
        </div>
    </div>
</div>