name: Deploy Dev

on:
  workflow_run:
    workflows:
      - CI-AMS
    types:
      - completed

env:
  IMAGE_ID: ${{ secrets.AWS_ECR_URI }}

  TF_VERSION: 1.0.5
  TG_VERSION: 0.31.4
  TG_SRC_PATH: terraform
  TFC_WORKSPACE: dev

permissions:
  id-token: write
  contents: read

jobs:
  # # workaround for the intermittent skip issue
  # get_workflow_conclusion:
  #   name: Lookup conclusion of workflow_run event
  #   runs-on: ubuntu-22.04
  #   outputs:
  #     conclusion: ${{ fromJson(steps.get_conclusion.outputs.data).conclusion }}
  #   steps:
  #     - name: Get workflow conclusion
  #       id: get_conclusion
  #       uses: octokit/request-action@v2.1.0
  #       with:
  #         route: GET /repos/${{ github.repository }}/actions/runs/${{ github.event.workflow_run.id }}
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # automated deployment to DEV
  cd:
    name: cd
    runs-on: ubuntu-22.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_TO_USE_DEV }}
          aws-region: ${{ secrets.AWS_REGION }}

#      - uses: peter-murray/terragrunt-github-action@v1.0.0
#        with:
#          terragrunt_version: ${{ env.TG_VERSION }}  
               

#      - name: Terragrunt Apply
#        working-directory: ${{ env.TG_SRC_PATH }}/${{ env.TFC_WORKSPACE }}
#        env:
#          app_repo: ${{ env.IMAGE_ID }}
#          app_version: ${{ github.event.workflow_run.head_sha }}
#          LICENSE_PLATE: ${{ secrets.MY_LICENSE_PLATE }}
#        run: terragrunt run-all apply --terragrunt-non-interactive
      - name: Update Kubeconfig
        run: |
          aws eks update-kubeconfig --name workbc-cluster --region ${{ secrets.AWS_REGION }}

      - name: Set image on Kubernetes deployment
        env:
          IMAGE: ${{ env.IMAGE_ID }}/jb-migration:${{ github.event.workflow_run.head_sha }}
          IMAGE2: ${{ env.IMAGE_ID }}/jb:${{ github.event.workflow_run.head_sha }}
          IMAGE3: ${{ env.IMAGE_ID }}/jb-admin:${{ github.event.workflow_run.head_sha }}
          IMAGE4: ${{ env.IMAGE_ID }}/jb-cli:${{ github.event.workflow_run.head_sha }}
          IMAGE5: ${{ env.IMAGE_ID }}/jb-importers-wanted:${{ github.event.workflow_run.head_sha }}
          IMAGE6: ${{ env.IMAGE_ID }}/jb-importers-federal:${{ github.event.workflow_run.head_sha }}
          IMAGE7: ${{ env.IMAGE_ID }}/jb-indexers-wanted:${{ github.event.workflow_run.head_sha }}
          IMAGE8: ${{ env.IMAGE_ID }}/jb-indexers-federal:${{ github.event.workflow_run.head_sha }}
          IMAGE9: ${{ env.IMAGE_ID }}/jb-notifications:${{ github.event.workflow_run.head_sha }}
        run: |
          kubectl delete job jb-migrate -n app --ignore-not-found
          sed "s|__IMAGE__|$IMAGE|g" yaml/migrate.yaml | kubectl apply -f -
          kubectl wait --for=condition=complete job/jb-migrate --timeout=300s -n app
          kubectl set image deployment/jb web=$IMAGE2 admin=$IMAGE3 cli=$IMAGE4 --namespace=app
          kubectl set image cronjob/jb-importer-indexer wanted-importer=$IMAGE5 federal-importer=$IMAGE6 wanted-indexer=$IMAGE7 federal-indexer=$IMAGE8 --namespace=app
          kubectl set image cronjob/jb-notifications notifications=$IMAGE9 --namespace=app
